<section id="section-2">
    <div class="container text-center">
        <div class="row">
            
            <div class="col-md-4">
                <img class="img-circle" src="http://placehold.it/140x140" alt="" class="img-responsive">
                <h2>Article 1</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quaerat, culpa, quasi quas nobis sed nisi aspernatur, dolore vero quia soluta optio nam ducimus nemo magni ipsum consectetur. Aliquid, placeat!</p>
                <a href="#">Read more</a>
            </div>
            <div class="col-md-4">
                <img class="img-circle" src="http://placehold.it/140x140" alt="" class="img-responsive">
                <h2>Article 2</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quaerat, culpa, quasi quas nobis sed nisi aspernatur, dolore vero quia soluta optio nam ducimus nemo magni ipsum consectetur. Aliquid, placeat!</p>
                <a href="#">Read more</a>
            </div>
            <div class="col-md-4">
                <img class="img-circle" src="http://placehold.it/140x140" alt="" class="img-responsive">
                <h2>Article 3</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quaerat, culpa, quasi quas nobis sed nisi aspernatur, dolore vero quia soluta optio nam ducimus nemo magni ipsum consectetur. Aliquid, placeat!</p>
                <a href="#">Read more</a>
            </div>
            
        </div>
    </div>
</section>