<section id="section-4">
    <div class="container">
        <div id="carouselTwo" class="carousel slide">

            <!-- Carousel items -->
            <div class="carousel-inner text-center">
                <div class="active item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quos praesentium ad recusandae voluptatem, magnam pariatur repellendus culpa nesciunt nam at esse, inventore minima iure totam ducimus! Iusto quo optio voluptatum sequi explicabo facilis unde ex reiciendis sint temporibus eveniet amet velit, enim dolorem perspiciatis aut dolorum, incidunt hic ipsum culpa fugiat voluptate molestiae in consectetur. Ab vitae ipsam architecto!</p>
                </div>
                <div class="item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quos praesentium ad recusandae voluptatem, magnam pariatur repellendus culpa nesciunt nam at esse, inventore minima iure totam ducimus! Iusto quo optio voluptatum sequi explicabo facilis unde ex reiciendis sint temporibus eveniet amet velit, enim dolorem perspiciatis aut dolorum, incidunt hic ipsum culpa fugiat voluptate molestiae in consectetur. Ab vitae ipsam architecto!</p>
                </div>
                <div class="item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis quos praesentium ad recusandae voluptatem, magnam pariatur repellendus culpa nesciunt nam at esse, inventore minima iure totam ducimus! Iusto quo optio voluptatum sequi explicabo facilis unde ex reiciendis sint temporibus eveniet amet velit, enim dolorem perspiciatis aut dolorum, incidunt hic ipsum culpa fugiat voluptate molestiae in consectetur. Ab vitae ipsam architecto!</p>
                </div>
            </div>

        </div>

        <!-- LINKED NAV -->
        <div class="text-center">
            <ol class="carousel-linked-nav pagination">
                <li class="active"><a href="#1">1</a></li>
                <li><a href="#2">2</a></li>
                <li><a href="#3">3</a></li>
            </ol>
        </div>

    </div>
</section>