<section id="section-4">
    <div class="container">
        <div class="row">
            
            <div class="col-md-6">
                <h4>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis nihil aliquid porro quibusdam ipsa dicta eum soluta unde reprehenderit maiores, ab voluptates debitis asperiores nisi voluptatum, voluptas ullam placeat voluptate. Repellat, porro possimus, incidunt reprehenderit officia recusandae quaerat ratione enim alias repellendus est quisquam voluptas? Temporibus eum, deserunt tempora itaque dolor perspiciatis hic earum? Sed esse autem eveniet quidem vel omnis voluptate recusandae perspiciatis, consequatur officia fugit fugiat quo quam explicabo incidunt architecto laborum doloremque vero, unde ipsum ab praesentium.
                </h4>
            </div>
            
            <div class="col-md-6">
                <!-- <img src="https://placeholdit.imgix.net/~text?txtsize=50&txt=MAP&w=600&h=400&txttrack=0" alt="" class="img-responsive"> -->
                <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe
            </div>
            
        </div>
    </div>
</section>