<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore unde vitae enim, nesciunt libero sint minus quia, fugiat veritatis repellendus dolor. Doloremque sit minus, velit, adipisci id harum voluptatem debitis tenetur similique cupiditate dolorem. Temporibus, nesciunt ad necessitatibus quam nulla, beatae consectetur laudantium similique, quisquam animi voluptate corporis nihil! Aliquam.</p>
            </div>
            <div class="col-md-7">
                <h2>Contact us</h2>
                <form action="sendMessage" name="sendMessage" id="sendMessage">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name" placeholder="your Name *">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="your e-mail *">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" placeholder="subject">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea id="message" cols="30" rows="6" class="form-control" placeholder="Your message *"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-12 text-right">
                            <div id="success"></div>
                            <a href="#">contact page</a>
                            <button type="submit" class="btn btn-primary">Send Message</button>
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.row -->
                </form>
            </div>
        </div>
    </div>
</footer>